.Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.EmployeeListPanel{
    padding: 30px 30px 30px 30px;
    display: grid;
    grid-template-rows: 45px 45px 45px auto;
    grid-row-gap: 20px;
}

.EmployeeCRUDPanel{
    padding: 27px 30px 30px 30px;
    position: relative;
}

.Logo{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .Container{
        grid-template-columns: auto;
    }
}