.Container{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 90px auto;
    place-items: center start;
    background-color: #ffffff;
    border-radius: .5rem;
    width: 92%;
    transition: all 0.3s;
}
.Container:hover{
    cursor: pointer;
    width: 98%;
}
.Name{
    color: #827e99;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}
.Role{
    color: #827e99;
    font-size: 14px;
    line-height: 18px;
}
.Team{
    color: #9b9b9b;
    font-size: 12px;
    line-height: 14px;
}