.Container{
    overflow-y: scroll;
    height: 710px;
    display: grid;
    grid-template-rows: repeat(auto-fill,80px);
    grid-row-gap: 20px;
    place-items: center;
}

.Title{
    color: #827e99;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
}