.Container{
    display: grid;
    width: 100%;
    place-items: start center;
    margin-bottom: 60px;
}

.Icon{
    width:30px;
    height: 30px;
    fill: #9b9b9b;
    transition: all 0.5s;
}
.Icon:hover{
    cursor: pointer;
    fill:#000000;
}