.Container{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1140px auto;
    background-color: #FAFAFA;
    background-image: url('./background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
    .Container{
        grid-template-columns: 10px auto 10px;
    }
}
@media only screen and (max-width: 992px) {
    .Container{
        background-position: left bottom;
    }
}
@media only screen and (max-width: 768px) {
    .Container{
        height: auto;
        background-image:none;
    }
}