.Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 30px 0px 30px;
    color: #827e99;
    font-size: 14px;
    font-weight: bold;
}

.Title{
    place-self: center start;
}
.Sort{
    place-self: center end;
    white-space: nowrap;
}