.Container{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: .5rem;
    position: absolute;
    width: 100%;
    top: 115px;
    height: 810px;
    padding: 30px 40px 30px 40px;
}

.CloseIcon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    fill:#4a4a4a;
    transition: all 0.5s;
}
.CloseIcon:hover{
    cursor: pointer;
    fill:#000000;
}

.Name{
    display: inline;
    margin-left: 30px;
}
