.Container{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: .5rem;
    position: absolute;
    width: 100%;
    top: 115px;
    height: 480px;
}

.IconPanel{
    position: absolute;
    top:-52px;
    left:0;
    width: 100%;
    display: grid;
    place-items: center;
}
.Icon{
    width: 104px;
    height: 104px;
}

.DescriptionPanel{
    position: absolute;
    top:80px;
    left:0;
    width: 100%;
}
.Title{
    color: #4a4a4a;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.SubTitle{
    color:#9b9b9b;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.CDPanel{
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    padding: 20px 0px 20px 0px;
    place-items: center;
    border-bottom: 1px solid #9b9b9b;
    width: 100%;
    position: relative;
}
.Add{
    justify-self:end;
    width: 30px;
    height:30px;
    background-color: #9b9b9b;
    display: grid;
    place-items: center;
    border-radius: 50px;
    transition: all 0.5s;
}
.Add:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.65);
}
.AddIcon{
    width: 14px;
    height: 14px;
}
.Delete{
    padding-top: 2px;
    justify-self:start;
    width: 30px;
    height:30px;
    background-color: #9b9b9b;
    display: grid;
    place-items: center;
    border-radius: 50px;
    transition: all 0.5s;
}
.Delete:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.65);
}
.DeleteIcon{
    width: 20px;
    height: 20px;
    fill: red;
}

.ConfirmPanel{
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: red;
    color: #ffffff;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    place-items: center;
}
.Yes:hover{
    cursor: pointer;
}
.No:hover{
    cursor: pointer;
}

.DetailPanel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px;
    place-items: center;
    color:#4a4a4a;
    border-bottom: 1px solid #9b9b9b;
}
.DetailPanelTitle{
    font-size: 12px;
    font-weight: bold;
    align-self:end;
}
.DetailPanelSubTitle{
    font-size: 14px;
}

.ButtonPanel{
    display: grid;
    place-items: center;
    grid-template-rows: 100px;
}